
/*Ваши стили*/
.dannileb-image{
    background-color: grey;
}
.dannileb-text{
    color: white;
}
.dannileb-sign{
    color:blueviolet;
}
.dannileb-sign:hover{
    color: violet;
}
.kittyest-image{
    background-color: white;
}
.kittyest-text{
    color: black;
}
.kittyest-sign{
    color: deeppink;
}
.kittyest-sign:hover{
    color: deeppink;
}