
/*Ваши стили*/
.dannileb-image{
    background-color: grey;
}
.dannileb-text{
    color: white;
}
.dannileb-sign{
    color:blueviolet;
}
.dannileb-sign:hover{
    color: violet;
}

.UnreachableWebServer-image{
    background-color: grey;
    max-width: 550px;
}
.UnreachableWebServer-sign{
    color:rgb(0, 0, 0);
    text-align: left;
}
.UnreachableWebServer-sign:hover{
    color: rgb(255, 129, 40);
}
